html{color:#000;
	background:#D0DEEE; 
	padding:20px 0;
	font: 18px, "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}

a:visited, a:link {color:#10034C;text-decoration:none;}
a:hover, a:active {color:#8E09C8;}


body {
	width:1000px;
	margin:0px auto;
}
/* header */

#top {
	width:1000px;
	padding: 0 10px 15px 0;
	text-align: right;
	font-weight:bold;
}


#header {
	margin:0px;
	padding:1px;
	border:1px solid #000;
	width:1000px;
	height:200px;
}
/* Content */
#content {
	float:left;
	padding:10px;
	background-color:#9CC1ED;
	border:1px solid #000;
	width:756px;
	margin-bottom:10px;
}
/* navigation */
#navigation {
	float:left;
	padding:10px;
	border:1px solid #000;
	width:200px;
	background-color:#9CC1ED;
	font-weight:bold;
}
/* Footer */
#footer {
	text-align:center;
	clear:both;
	padding:10px;
	border:1px solid #000;
	background-color:#9CC1ED;
	width:988px;
}

/* tables */
table{
	border:2px solid #000;
	border-collapse:collapse;
}

td, th {
	border:1px solid #000;
	border-collapse:collapse;
}


h1 {
	font-weight:bold;
	font-size:25px;
	line-height:28px;
}

h2 {
	font-weight:bold;
	font-size:20px; 
	line-height:24px;

}

